apiVersion: apps/v1
kind: Deployment
metadata:  
  name: nodejs-deployment  
  labels:    
    app: trainservice
spec:  
  replicas: 1  
  selector:    
    matchLabels:
      app: trainservice
  template:
    metadata:
      labels:
        app: trainservice
    spec: 
     containers:
      - name: trainservice
        image: ezzyj/ctse_train_service
        ports:
        - containerPort: 4001
        env:   
        - name: JWT_SECRET
          value: "MYSECRET"
        - name: JWT_EXPIRES_IN
          value: "24h"
        - name: PORT
          value: "4001"
---
apiVersion: v1
kind: Service
metadata:
  name: train-service
  labels:
    app: trainservice
spec:
  type: NodePort
  ports:
  - port: 4001
    protocol: TCP
    targetPort: 4001
    nodePort: 32122
  selector:
    app: trainservice